In [ ]:
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
num = int(input("Enter a number: "))
for i in range(num,num*10+1,num):
  print(i)

18
36
54
72
90
108
126
144
162
180

In [ ]:
num = int(input("Enter a number: "))
for i in range(num*10,num-1,-num):
  print(i)

Enter a number: 10
100
90
80
70
60
50
40
30
20
10

In [ ]:
for i in range(1,7):
  print('*'*5)
  for j in range(1,7):
      print(i,j)

*****
1 1
1 2
1 3
1 4
1 5
1 6
*****
2 1
2 2
2 3
2 4
2 5
2 6
*****
3 1
3 2
3 3
3 4
3 5
3 6
*****
4 1
4 2
4 3
4 4
4 5
4 6
*****
5 1
5 2
5 3
5 4
5 5
5 6
*****
6 1
6 2
6 3
6 4
6 5
6 6

In [ ]:
for i in range(1,7):
  for j in range(1,7):
      print(i,j)
  print('*'*5)

1 1
1 2
1 3
1 4
1 5
1 6
*****
2 1
2 2
2 3
2 4
2 5
2 6
*****
3 1
3 2
3 3
3 4
3 5
3 6
*****
4 1
4 2
4 3
4 4
4 5
4 6
*****
5 1
5 2
5 3
5 4
5 5
5 6
*****
6 1
6 2
6 3
6 4
6 5
6 6
*****

In [ ]:
for i in range(1,7):
  for j in range(1,7):
    if i+j > 10:
      print(i,j)

5 6
6 5
6 6

In [ ]:
count = 0
for i in range(1,7):
  for j in range(1,7):
    if(i+j > 10):
       count = count+1
print(round((count/36)*100,2),"%")

8.33 %