In [ ]:
list_1 = []
for i in range(1,100):
  if(i%2==0):
    list_1.append(i)
print(list_1)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

In [ ]:
list_2 = [1,2,3,4,5]
list_2[3] = 8
print(list_2)

[1, 2, 3, 8, 5]

In [ ]:
print(sum(list_1))

2450

In [ ]:
sum_1 = 0
for i in list_1:
  sum_1 = sum_1+i
print(sum_1)

2450

In [ ]:
s = 0
for i in range(0,49,2):
  s = s+list_1[i]
print(s)

1250

In [ ]:
s1 = 0
for i in range(1,49,2):
  s1 = s1+list_1[i]
print(s1)

1200

In [ ]:
s2 = 0
for i in range(len(list_1)):
  if i%2==0:
    s2 = s2+list_1[i]
print(s2)

1250

In [ ]:
s3 = 0
for i in range(len(list_1)):
  if i%2!=0:
    s3 = s3+list_1[i]
print(s3)

1200

In [ ]:
s2-s3

50

In [ ]:
n = int(input('enter a number: '))
sum_n = 0
for i in range(0,n+1):
  sum_n = sum_n+i
print(sum_n)

enter a number: 1287782231
829191537883559796

In [ ]:
n = int(input('enter a number: '))
if n%2 != 0:
  print(n * ((n//2) + 1))
else:
   print(n * ((n//2) + .5))

enter a number: 10
55.0

In [ ]:
 n1 = 6
 print(n1*(n1+1)//2)

21